# Copy this file to .env and fill in values

apiKey: "AIzaSyDK6-YElqMqjbmR6eE9uK83NVcdKJD4ll0",
authDomain: "emotion-ai-1d649.firebaseapp.com",
projectId: "emotion-ai-1d649",
storageBucket: "emotion-ai-1d649.firebasestorage.app",
messagingSenderId: "401549039894",
appId: "1:401549039894:web:eaa8976aaff1d60afb5837", 

# Your Render backend URL (e.g. https://edubot-backend.onrender.com)
REACT_APP_BACKEND_URL=https://emotion-adpative-ai.onrender.com
