# Copy this file to .env and fill in values


REACT_APP_FIREBASE_AUTH_DOMAIN: "emotion-ai-1d649.firebaseapp.com",
REACT_APP_FIREBASE_PROJECT_ID: "emotion-ai-1d649",
REACT_APP_FIREBASE_STORAGE_BUCKET: "emotion-ai-1d649.firebasestorage.app",
REACT_APP_FIREBASE_MESSAGING_ID: "401549039894",
REACT_APP_FIREBASE_APP_ID: "1:401549039894:web:eaa8976aaff1d60afb5837", 
FIREBASE_SERVICE_ACCOUNT: var admin = require("firebase-admin");

var serviceAccount = require("path/to/serviceAccountKey.json");

admin.initializeApp({
  credential: admin.credential.cert(serviceAccount)
});

# Your Render backend URL (e.g. https://edubot-backend.onrender.com)
REACT_APP_BACKEND_URL=https://emotion-adpative-ai.onrender.com
